@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Driftune";
  src: url("../utility/font/Driftune-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Driftune" !important;
  letter-spacing: 0.1rem !important;
}

.markdown-table {
  @apply w-full border-collapse bg-gray-50; /* Tailwind utilities */
}
.markdown-table th,
.markdown-table td {
  @apply border border-gray-300 p-2 text-left;
}
.markdown-table thead {
  @apply bg-gray-200;
}
.markdown-table tbody tr:nth-child(even) {
  @apply bg-gray-100;
}
